
/* #62000F,  #785869, #fdb04d, #d6254b, #0a0d2c */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Amiri", serif;
    font-weight: 400;
}

.top {
    width: 100%;
    position: fixed;
}

.navbar {
    background-color: #fdb04d;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 77px;
    z-index: 1;
    width: 100%;
    max-width: 3840px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #62000F;
    z-index: 999;
}

#logo {
    padding-top: 10px;
}



.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    z-index: 1000;
}

.navbar_item {
    height: 80px;
}

.navbar_link {
    color: #fdb04d;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 25px;
    height: 100%;
    font-size: larger;

}

.o_nas {
    background-image: url('imgaes/tlo.webp');
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    width: 100%;
    z-index: 1;
}

.overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 40px;
    border-radius: 8px; 
    color: white;
    text-align: center;
    max-width: 80%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #fdb04d;
    z-index: 0;
}

.overlay_text p {
    margin: 0; 
    font-size: 1.5rem; 
}

.produkty {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 40px; 
    padding: 50px;
    background-image: url(imgaes/tlo4.webp); 
}

.produkty2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    background-image: url(imgaes/tlo4.webp); 
}

.produkt {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #0a0d2c; 
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 3px solid #fdb04d;
    border-width: 3px;
}


.produkt-tekst {
    flex: 1; 
    padding-right: 20px; 
    color: #fdb04d;
}

.produkt-tekst h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.produkt-tekst p {
    font-size: 1.2rem;
    line-height: 1.4;
}

.produkt-obrazek {
    flex-shrink: 0; 
}

.section_bar {
    justify-content: center;
    background-color: #62000F;
    height: 60px;
    width: 100%;
    display: flex;
    color:#fdb04d;
    font-size: 40px;
    text-align: center;
    border-top: 3px solid #fdb04d;
    border-bottom: 3px solid #fdb04d;
}

.img_gal {
    background-image: url('imgaes/tlo2.png');
    background-size: cover;
    background-position: center; 
    height: 160vh; 
    width: 100%;
    z-index: 1;
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; 
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto
}

.photos img {
    width: 220px;
    height: auto;
    margin-top: 100px;
    flex-shrink: 0;
    border: 3px solid #fdb04d;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.contact_page {
    background-color: #0a0d2c;; 
    width: 100%;
    z-index: 1;
    gap: 20px;
    padding: 20px;
    background-image: url(imgaes/tlo3.webp);
}

.contact_elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-color: #fdb04d;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; 
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto
}

.c_elem {
    margin-top: 100px;
    flex-shrink: 0;
    border: 3px solid #fdb04d;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #62000F;
}
.c_elem p{
    color: #fdb04d;
    font-size: 1rem;
    text-align: Left;
}

.c_elem h2{
    color: #fdb04d;
    font-size: 2rem;
    text-align: center;
}

.form-group{
    color: #fdb04d;
    font-size: 1rem;
    text-align: Left;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #785869;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7858698e;
}

footer {
    background-color: #62000F;
    color: #fdb04d;
    padding: 40px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left {
    flex-basis: 50%;
    padding: 20px;
}

.footer-left h3 {
    font-size: 20px;
}

.footer-right {
    flex-basis: 50%;
    padding: 20px;
    text-align: right;
}

.footer-right h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}